* {
    margin: 0;
    padding: 0;
    font-family: $poppins-font;
}

body {
    background-image: url("../../img/faces.png");
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: 830px 130px;
    background-color: $color-background;
}

.container {
    margin: 0px 8%;
}