.header {
    margin: 30px 0px 130px 0px;
    align-items: center;

    nav {
        display: flex;

        ul {
            margin-left: auto;
            display: flex;
            list-style: none;
            gap: 40px;
            align-items: center;

            li a {
                padding: 9px;
                color: $color-letters;
                text-decoration: none;
            }

            li a:hover {
                color: white;
                border-bottom: 3px solid $color-alternative;
            }
        }
    }
}